body {
  background-color: white;
}

#game-container {
  width: 22rem;
  height: 12.375rem;
  border: 1px solid black;
  margin: 0 auto;
  transform: scale(3) translateY(40%);
  position: relative;
  background-color: gray;
}

#game-canvas {
  image-rendering: pixelated;
  position: absolute;
}

#static-canvas {
  image-rendering: pixelated;
  position: absolute;
  z-index: 2;
}

#ham {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0.5rem;
  width: 3rem;
  font-size: 0.5rem;
}

#phone {
  position: absolute;
  z-index: 3;
  top: 2.5rem;
  right: 0;
  width: 3rem;
  font-size: 0.5rem;
}

#losing-screen {
  position: absolute;
  z-index: 4;
  display: none;
}

#winning-screen {
  position: absolute;
  z-index: 4;
  display: none;
}

#money-output {
  margin: 0;
  font-size: 0.6rem;
  position: absolute;
  top: 0.66rem;
  right: 1.1rem;
  z-index: 3;
}

#start-screen {
  position: absolute;
  z-index: 4;
  width: 352px;
  height: 198px;
  background-color: gray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 1.3rem;
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: beige;
}

#game-rules,
#start-game-button-section {
  width: 50%;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  font-size: 0.5rem;
}
